body {
    background: #1e1e1e;
}

.navbar.is-purple {
    background: #1e1e1e;
}

.navbar .button {
    border-color: #232323FF;
    background: #232323FF;
    color: #fff;
}
.messages {
    height: 480px;
    overflow-y: auto;
}
